<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find open_manipulator_gazebo)/config/arm_controller.yaml" command="load"/>
  <rosparam file="$(find open_manipulator_gazebo)/config/gripper_controller.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint1_position
                          joint2_position
                          joint3_position
                          joint4_position
                          gripper_position
                          gripper_sub_position"/>

  <!-- Run gripper sub position publisher -->
  <node name="omx_gripper_sub_publisher" pkg="open_manipulator_gazebo" type="omx_gripper_sub_publisher" output="screen"/>
</launch>
